<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_login</servlet-name>
        <servlet-class>student_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>offline_cse</servlet-name>
        <servlet-class>offline_cse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issue_books</servlet-name>
        <servlet-class>issue_books</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_issued_book</servlet-name>
        <servlet-class>check_issued_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>offline_books</servlet-name>
        <servlet-class>offline_books</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_issue_book</servlet-name>
        <servlet-class>update_issue_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>return_book</servlet-name>
        <servlet-class>return_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_book</servlet-name>
        <servlet-class>add_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_book</servlet-name>
        <servlet-class>delete_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_student</servlet-name>
        <servlet-class>delete_student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove_student</servlet-name>
        <servlet-class>remove_student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_details</servlet-name>
        <servlet-class>student_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_feedback</servlet-name>
        <servlet-class>check_feedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_login</servlet-name>
        <url-pattern>/student_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>offline_cse</servlet-name>
        <url-pattern>/offline_cse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issue_books</servlet-name>
        <url-pattern>/issue_books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_issued_book</servlet-name>
        <url-pattern>/check_issued_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>offline_books</servlet-name>
        <url-pattern>/offline_books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_issue_book</servlet-name>
        <url-pattern>/update_issue_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>return_book</servlet-name>
        <url-pattern>/return_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_book</servlet-name>
        <url-pattern>/add_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_book</servlet-name>
        <url-pattern>/delete_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_student</servlet-name>
        <url-pattern>/delete_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove_student</servlet-name>
        <url-pattern>/remove_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_details</servlet-name>
        <url-pattern>/student_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_feedback</servlet-name>
        <url-pattern>/check_feedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
